<ion-content [fullscreen]="true">
    <div class="container">
    <h4 class="mt-3 pt-5 ">Dashboard</h4>
    <div class="wrapper">
        <div class="row">
            <div class="col-6 ">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>100</ion-card-title>
                        <ion-card-subtitle>Staff Count</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </div>
            <div class="col-6">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>300</ion-card-title>
                        <ion-card-subtitle>user Count</ion-card-subtitle>
                    </ion-card-header>

                   
                </ion-card>
            </div>
            <div class="col-6">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>32</ion-card-title>
                        <ion-card-subtitle>Total Schemes</ion-card-subtitle>
                    </ion-card-header>

                   
                </ion-card>
            </div>
            <div class="col-6">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>46</ion-card-title>
                        <ion-card-subtitle>compfsdlaints</ion-card-subtitle>
                    </ion-card-header>

                    
                </ion-card>
            </div>
        </div>

    </div>
</div>
</ion-content>